:root {
    --primary: #7C3AED;
    --primary-hover: #6D28D9;
    --light-purple: #EDE9FE;

    --dark: #2D2A32;
    --text: #444444;

    --background: #FAFAFC;
    --white: #FFFFFF;
    --border: #E8E8F0;
}

body{
    background:var(--background);
    color:var(--text);

    font-family:'Poppins', sans-serif;
}