.order-table-wrapper{

    background:#fff;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.order-table-wrapper h3{

    font-family:'Playfair Display',serif;

    margin-bottom:25px;

}

.order-table-wrapper .form-select{

    width:170px;

    border-radius:10px;

}