.recent-orders{

    margin-top:35px;

    background:#fff;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.recent-orders h4{

    margin-bottom:20px;

    font-family:'Playfair Display',serif;

}

.status{

    padding:6px 14px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.delivered{

    background:#DCFCE7;

    color:#166534;

}

.processing{

    background:#FEF3C7;

    color:#92400E;

}

.shipped{

    background:#DBEAFE;

    color:#1D4ED8;

}